<html>
 <head></head>
 <body>
 <p> Guess the number between 1 and 100 <%= number%> </p>
 <form>
 <input type ='text' name = 'guess' />
 <input type = 'submit' value = 'Guess!'/>
 </form>

   <p> <%= message %> </p>
   <p> <%= remaining %>  </p>
  <style>
 	body{
 		background: <%= color %>;
 	}
  </style>
 </body>
</html>