<html>
  <head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <style>
        div {
      background: <%=color%>
            }
  </style>
  </head>  
  <body>
  <div class = "back">
  <h1> Guessing Game </h1>
    <div class = "front">
    <h3> Guess a number between 1-100</h3>
    <h3> <%= check %> </h3>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!'/>
    </form>
    </div>
    </div>
  </body>
</html>