<html>
  <head></head>
  <body>
    <p> Guess a number between 1-100 (<%=number%>)</p>
    <p> <%= message %> </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!'/>
    </form>
  </body>
</html>